/* Icons */
.icon{
    display: block;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    cursor: pointer;
    z-index: 999;
}

.icon--light-mode {
    display: none;
    transition: all 0.3s ease;
}

.dark-mode .icon--dark-mode {
    display: none;
    transition: all 0.3s ease;
}

.icon--dark-mode:hover {
    color: lightseagreen;
}

.dark-mode .icon--light-mode {
    display: block;
    color: white;
}

.icon--light-mode:hover {
    color: orange;
}

/* Dark Mode */
.dark-mode {
    background: var(--darkModeBackground);
    color: var(--white);
 }

.dark-mode .container {
    background-image: var(--containerDarkBackground);
 }

.dark-mode .notification__user-name,
.dark-mode .notification__recent-post,
.dark-mode .notifications__read-btn {
    color: var(--darkModeTextColor);
}

.dark-mode .notification__group-message {
    color: var(--darkModeGroupMessage);
}

.dark-mode .notification__message {
    color: var(--white);
}

.dark-mode .notifications__number {
    background-color: var(--hoverColor);
}

.dark-mode .notification--unread-background {
    background-color: var(--darkModeBackground);
}

.dark-mode .notification__private-message-wrapper {
    color: #dee2e6;
}

.dark-mode .notification__private-message-wrapper:hover {
    background-color: var(--darkModeBackground);
}

