@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

:root {
    /* Colours */
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --hoverColor: hsl(219, 74%, 36%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);


    /* Dark Mode Colors */
    --darkModeBackground: #212121;
    --containerDarkBackground: linear-gradient(to right, #434343 0%, rgba(0, 0, 0, 0.8) 100%);
    --darkModeTextColor: #adb5bd;
    --darkModeGroupMessage: #1098ad;

    /* Font Family */
    --font-jakarta-sans: 'Plus Jakarta Sans', sans-serif;

    /* Font Size*/
    --font-size-200: 1.25rem;
    --font-size-100: 0.875rem;

    /* Font weight*/
    --font-weight-medium: 400;
    --font-weight-bold: 700;

    /* Spacing */
    --flow-space: 0.5rem;
}

@media (min-width: 48rem) {
    :root {
        --font-size-200: 2rem;
        --font-size-100: 1rem;
    }
}

/* Dark Mode*/
.dark-mode {
    --hoverColor: #15aabf;
}

/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

/* Body Styling */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-jakarta-sans);
    background-color: var(--very-light-grayish-blue);
    font-size: var(--font-size-100);
}

/* Utility Classes */
.container {
    background-color: var(--white);
    padding: 1.75rem 1rem;
    max-width: 48rem;
    position: relative;
}

@media (min-width: 32rem) {
    .container {
        padding-inline: 1.5rem;
    }
}

@media (min-width: 48rem) {
    .container {
        border-radius: 1rem;
        padding-inline: 2rem;
    }
}

.flow > * + * {
    margin-top: var(--flow-space);
}

/* Notification Header */
.notifications__header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

@media (min-width: 48rem) {
    .notification__header {
        gap: 1rem;
    }
}

.primary-heading {
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-bold);
}

.notifications__number {
    background-color: var(--blue);
    color: var(--white);
    font-weight: var(--font-weight-bold);
    padding: 0.25rem 0.4rem;
    border-radius: 0.5rem;
    width: 2.3rem;
    display: grid;
    place-items: center;
}

@media (min-width: 48rem) {
    .notification__number {
        padding: 0.25rem 0.75rem;
    }
}

.notifications__read-btn {
    margin-left: auto;
    border: none;
    background: transparent;
    color: var(--dark-grayish-blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Notifications */

.notification {
    display: flex;
    padding: 1rem;
    gap: 1.25rem;
    transition: all 0.3s ease;
}

@media (min-width: 48rem) {
    .notification {
        padding-inline: 1.25rem;
    }
}

.notification__profile-pic,
.notification__post-photo {
    max-height: 3rem;
    max-width: 3rem;
}

.notification__post-photo-wrapper {
    margin-left: auto;
}

/* Messages */
.notification__message {
    margin-bottom: 0.5rem;
    color: var(--dark-grayish-blue);
    font-weight: var(--font-weight-medium);
}

.notification__user-name {
    text-decoration: none;
    font-weight: 800;
    margin-right: 0.25rem;
    color: black;
    transition: all 0.3s ease;
}

.notification__recent-post {
    color: var(--dark-grayish-blue);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    margin-left: 0.25rem;
    transition: all 0.3s ease;
}

.notification__group-message {
    color: var(--blue);
    text-decoration: none;
    font-weight: 800;
    margin-left: 0.2rem;
    transition: all 0.3s ease;
}

.notification__user-name:hover,
.notification__recent-post:hover,
.notification__group-message:hover,
.notifications__read-btn:hover {
    color: var(--hoverColor) !important;
}

.notification__unread-icon {
    display: inline-block;
    margin-left: 0.5rem;
    height: 0.6rem;
    width: 0.6rem;
    background-color: var(--red);
    border-radius: 50%;
}

.notification__time {
    color: var(--grayish-blue);
}

.notification__private-message-wrapper {
    padding: 1rem;
    margin-top: 0.75rem;
    border-radius: 0.5em;
    border: 1px solid var(--grayish-blue);
    color: var(--dark-grayish-blue);
    transition: all 0.3s ease;
    cursor: pointer;
}

.notification__private-message-wrapper {
    padding: 1.25rem;
}

.notification__private-message-wrapper:hover {
    background-color: var(--light-grayish-blue-1);
}

.notification--unread-background {
    background-color: var(--very-light-grayish-blue);
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    cursor: pointer;
}

.no-unread-message .notification__unread-icon {
    display: none;
    transition: all 0.3s ease;
}


